{% extends "base.html" %}
{% load static %}
{% block header %}
    <header class="intro-header" style="background-image: url('{% static 'images/P8062918.JPG' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Coffee Forum</h1>
                        <hr class="small">
                        <span class="subheading">A discussion about coffee</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    {% load bootstrap_tags %}
    <h1>Add a post</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-info">Save</button>
    </form>
{% endblock %}