{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block header %}
    <header class="intro-header" style="background-image: url('{% static 'images/P8062918.JPG'%}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Coffee Forum</h1>
                        <hr class="small">
                        <span class="subheading">A discussion about coffee</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}

    <form class="form" method="post" action="{% url 'login' %}">
        <legend>Login</legend>

        {% csrf_token %}

        {{ form | as_bootstrap }}

        <div class="form-group">

            <button type="submit" class="btn btn-primary">Login</button>

        </div>


    </form>

{% endblock content %}