{% extends "base.html" %}
{% load threads_extras %}
{% block content %}
    {% load bootstrap_tags %}

    {% for subject in subjects %}
        <section class="subject">
            <h2><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
            <p>
                <a href="{% url 'threads' subject.id %}">
                    {% autoescape off %}
                        {{ subject.description }}
                    {% endautoescape %}
                </a>
            </p>
            <div class="table-responsive">
        <table class="table forum table-sm">
            <tr>
                <th class="cell-stat text-center hidden-xs hidden-sm">THREADS</th>
                <th class="cell-stat text-center hidden-xs hidden-sm">POSTS</th>
            </tr>
            <tr>
                <td class="text-center hidden-xs hidden-sm">{{ subject.threads.count }}</td>
                <td class="text-center hidden-xs hidden-sm">{{ subject|get_total_subject_posts }}</td>
            </tr>
        </table>
            </div>
        </section>
    {% endfor %}
{% endblock %}