{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load static %}
{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script>
    tinyMCE.init({
        mode: "textareas",
        theme: "modern",
        plugins: "paste",
    });
    </script>
{% endblock %}

{% block header %}
    <header class="intro-header" style="background-image: url('{% static 'images/P8062918.JPG'%}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Coffee Forum</h1>
                        <hr class="small">
                        <span class="subheading">A discussion about coffee</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <section>
        <div class="col-md-9">
            <form method="post" action="{{ form_action }}">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}