{% extends "base.html" %}
{% load threads_extras %}
{% load staticfiles %}
{% block content %}
    <div class="row header">
        <div class="container">
            <h2>{{ thread.name }}</h2>
            <div class="col-md-12 table-responsive">
                <table class="table forum table-sm">
                    <tbody>
                        <tr>
                            <th class="cell-stat text-center hidden-xs hidden-sm">CREATED</th>
                            <th class="cell-stat text-center hidden-xs hidden-sm">OWNER</th>
                            <th class="cell-stat-2x hidden-xs hidden-sm">LAST POST</th>
                        </tr>
                        <tr>
                            <td class="hidden-xs hidden-sm" >
                                <time datetime="{{ thread.created_at }}">
                                    {{ thread.created_at | started_time }}
                                </time>
                            </td>
                            <td class="text-center hidden-xs hidden-sm">{{ thread.user.username }}</td>
                            <td class="text-center hidden-xs hidden-sm">{% last_posted_user_name thread %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% if thread.poll %}
                <div class="container">
                <div class="col-md-6">
                    <h2>Poll</h2>
                    <strong>{{ thread.poll.question}}</strong><br><br>
                    <p>Here's how the voting is so far:</p>
                    {% for subject in thread.poll.subjects.all %}

                    <div class="col-md-10">
                        <strong>{{ subject.name }}</strong>
                        <span class="pull-right">{{ subject|vote_percentage  }}%</span>
                    </div>
                    {% user_vote_button thread subject user %}
                    <div class="col-md-10">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-value="
                            {{ subject | vote_percentage }}" aria-valuemin="0" aria-valuemax="100"
                            style="width:{{ subject | vote_percentage }}%;">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>

            {% endif %}


            {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'new_post' thread.id %}" class="btn btn-primary">New post</a>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="container">
    {% for post in thread.posts.all %}
    {% include "forum/post.html" %}
    {% endfor %}
    </div>
{% endblock %}